<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="1; {firstResult}" />

    <title>test results</title>
    <style>
      body, h1, p, a {{
          background: #272b30;
          color: #c8c8c8;
      }}
    </style>
  </head>
  <body>
    <h1>Test results</h1>
    <p>
      Redirecting to <a href="{firstResult}">first test result</a>.
    </p>
  </body>
</html>
