/* colours
   ================================ */

:root {
    --text-color: #c8c8c8; /* main text color from bootswatch slate */

    --well-border: #0c0d0e;     /* well border from bootswatch slate */
    --well-background: #1c1e22; /* well background from bootswatch slate */
    --well-color: var(--text-color);

    --code-background: var(--well-background);
    --code-foreground: #f89406; /* Warning button background from bootswatch slate */
}

/* override highlight.js styles to match bootswatch slate */
.hljs { background: var(--well-background); }

code {
    background-color: var(--code-background);
    color: var(--code-foreground);
}

pre {
    border: 1px solid var(--well-border);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: var(--well-background);
    color: var(--well-color);
}

/* layout
   ================================ */

.test-result-tabs {
    margin-left: 10px;
}

.test-result-tabs .btn {
    margin-bottom: -1px;
}

.test-result-tabs .btn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn {
    outline: none ! important;
}

.language-box-parent {
    line-height: 1;
}

/* check results
   ================================ */

.check-result-table {
    table-layout: fixed;
    width: 100%;
    background: inherit;
}

.check-result-table tr th,
.check-result-table tr td {
    padding: 4px;
}

th.check-type { width: 10em; }
th.check-ok { width: 5em; }

/* result box
   ================================ */

.code-actual {
    max-height: 24em;
}

/* refresh indicator
   ================================ */

.refresh-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
}

.refresh-list {
    display: flex;
}

.refresh-tick {
    border: 1px solid var(--text-color);
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 2px;
}

.refresh-tick.filled {
    background: var(--text-color);
}
